@using NutriaryWebApp.BLL.DTOs
@using System.Text.Json
@model NutriaryWebMVC.ViewModels.DashboardReportViewModel
@{
    var summary = JsonSerializer.Deserialize<CalorieSummaryDTO>(Context.Session.GetString("CaloriesSummary"));
    var nutrition = JsonSerializer.Deserialize<DailyTotalNutritionInfoDTO>(Context.Session.GetString("Nutrition"));
    var user = JsonSerializer.Deserialize<UserLoginDTO>(Context.Session.GetString("User"));
    var percentage = nutrition.total_bmr != 0 ? Math.Round((nutrition.total_energy_kal / nutrition.total_bmr) * 100 ?? 0, 2) : 0;
    //format the percentage become 0.00

    var dailyTotalNutritionInfo = Model.dailyTotalNutritionDTO;
    var dailyFoodMenuInfo = Model.dailyFoodMenuDTO;
}

<h1>@ViewData["Title"]</h1>

<h1 class="h3 mb-0 text-gray-800">
    @Html.Raw(ViewBag.Message)
</h1>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Welcome to Nutriary, @user.firstname @user.lastname</h1>
</div>
<div class="m-0 font-weight-bold text-primary">
    This is your today's dashboard. You can see your daily progress here.
</div>
<br />

@if (summary.BMR == 0 )
{
    <div class="alert alert-danger alert-dismissible show fade">
        <div class="alert-body">
            <button class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            It seems like you haven't set your profile yet. Please set your profile first to set the Basal Metabolic Rate.
        </div>
    </div>
}

@if(summary.BMR == null)
{
    <div class="alert alert-danger alert-dismissible show fade">
        <div class="alert-body">
            <button class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            It seems like you haven't set your profile yet. Please set your profile first to set the Basal Metabolic Rate.
        </div>
    </div>

}



<div class="row sortable-card">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card custom-radius">

            <div class="card-body">
                <div class="text font-weight-bold text-primary mb-2">
                    Total Consumed Calories
                </div>
                <div class="custom-divider mb-4"></div>
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">@summary.consumed_calories kcal</div>
                    </div>
                    <div class="col">
                        <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-primary" role="progressbar"
                                 style="width: @percentage%" aria-valuenow="@summary.consumed_calories" aria-valuemin="0"
                                 aria-valuemax="@summary.BMR">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">@percentage%</div>
                    </div>
                    <i class="fa fa-utensils fa-2x"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card custom-radius">
            <div class="card-body">
                <div class="text font-weight-bold text-success mb-2">
                    BMR (Calorie Limit)
                </div>
                <div class="custom-divider mb-4"></div>
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@summary.BMR kcal</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-tachometer-alt fa-2x"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card custom-radius">
            <div class="card-body">
                <div class="text font-weight-bold text-warning mb-2">
                    Remaining Calorie Limit
                </div>
                <div class="custom-divider mb-4"></div>
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@summary.remaining_calories kcal</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-fire fa-2x"></i>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">




    <div class="col-12 col-md-6 col-lg-6">
        <div class="card custom-radius">
            <div class="card-body">
                <div class="text font-weight-bold text-primary mb-2">
                    Total Macronutrients in grams
                </div>
                <div class="custom-divider mb-4"></div>
                <div class="row no-gutters align-items-center">
                    <div class="d-flex col mr-2 justify-content-center ">
                        <canvas class="h-25" id="myChart4"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6">
        <div class="card custom-radius">
            <div class="card-body">
                <div class="text font-weight-bold text-primary mb-2">
                    Total Micronutrients in miligrams
                </div>
                <div class="custom-divider mb-4"></div>
                <div class="row no-gutters align-items-center">
                    <div class="d-flex col mr-2 justify-content-center ">
                        <canvas class="h-25" id="myChart5"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>





@section Scripts {
    <script>
        var ctx = document.getElementById("myChart4").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [
        @Math.Round(@nutrition.total_carbs_g ?? 0),
        @Math.Round(@nutrition.total_protein_g ?? 0),
        @Math.Round(@nutrition.total_fat_g ?? 0),
        @Math.Round(@nutrition.total_fiber_g ?? 0),
                    ],
                    backgroundColor: [
                        '#6777ef',
                        '#63ed7a',
                        '#ffa426',
                        '#fc544b',
                    ],
                    label: 'Macronutrients'
                }],
                labels: [
                    'carbs (gr)',
                    'protein (gr)',
                    'fat (gr)',
                    'fiber (gr)',
                ],
            },
            options: {
                responsive: false,
                legend: {
                    position: 'bottom',
                },
            }

        });

        var ctx = document.getElementById("myChart5").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [
        @Math.Round(@nutrition.total_calcium_mg ?? 0),
        @Math.Round(@nutrition.total_natrium_mg ?? 0),
        @Math.Round(@nutrition.total_fe_mg ?? 0),
                    ],
                    backgroundColor: [
                        '#6777ef',
                        '#63ed7a',
                        '#ffa426',
                    ],
                    label: 'Micronutrients'
                }],
                labels: [
                    'Calcium (mg)',
                    'Natrium (mg)',
                    'Iron (mg)',
                ],
            },
            options: {
                responsive: false,
                legend: {
                    position: 'bottom',
                },
            }

        });

    </script>

    @{
        <script src="/stisla/js/page/modules-datatables.js"></script>
    }
}

<style>
    .custom-radius {
        border-radius: 20px;
    }

    .custom-divider {
        border: 0.5px solid #F8F8FF;
    }

    .custom-alert-bg {
        background-color: #FFFFFF;
    }
</style>