
@model IEnumerable<NutriaryWebApp.BLL.DTOs.ConsumedFoodsDTO>

@{
    if (ViewData["Users"] == null)
    {
        ViewData["Users"] = new List<NutriaryWebMVC.Models.User>();
    }


    var users = ViewData["Users"] as List<NutriaryWebMVC.Models.User>;
}
<head>
    <title>Food Consumption Log</title>
</head>


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Food Consumption Log</h1>
</div>
<div class="m-0 font-weight-bold text-primary mb-lg-4">
    You can add your food consumption here.
</div>

<div class="col-lg-12">
    <!-- Basic Card Example -->
    <div class="card mb-4">
        <div class="card-header py-3 justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Food Consumption</h6>
            <button class="btn btn-primary" onclick="location.href='/Nutritions/Create'">
                <i class="fa fa-plus-circle"></i>
                Add Food Consumption
            </button>
        </div>
        <div class="card-body">
            <div>
                <table id="tblFoodLog" class="table table-responsive-lg">
                    <thead>
                        <tr>
                            @* <th class="text-hide">Log ID</th> *@
                            <th>Food Name</th>
                            <th>Quantity</th>
                            <th>Calories</th>
                            <th>Log Date</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var foods in Model)
                        {
                            <tr>
                                @* <td class ="text-hide">@foods.log_id</td> *@
                                <td>@foods.food_name</td>
                                <td>@string.Format("{0:0.00}", foods.quantity)</td>
                                <td>@string.Format("{0:0.00}", foods.total_energy_kcal)</td>
                                <td>@foods.log_date.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href="/Nutritions/Detail/@foods.log_id" class="btn btn-success">
                                        <i class="fa fa-eye"></i> Details
                                    </a>
                                </td>
                                <td>
                                    <a href="/Nutritions/Edit/@foods.log_id" class="btn btn-warning">
                                        <i class="fa fa-pen"></i> Edit
                                    </a>
                                </td>
                                <td>
                                    <a href="/Nutritions/Delete/@foods.log_id" onclick="return confirm('Want to delete this food log?')" class="btn btn-danger">
                                        <i class="fa fa-trash"></i> Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Food Consumption</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ddFoodName">Food Name :</label>
                        <asp:DropDownList ID="ddFoodName" CssClass="form-control" runat="server" />
                    </div>
                    <div class="form-group">
                        <label for="txtQuantity">Food Quantity :</label>
                        <asp:TextBox ID="txtFoodQuantity" runat="server" CssClass="form-control" placeholder="Enter Food Quantity (gram)" />
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <asp:Button Text="Submit" ID="btnAddFoodConsumption" CssClass="btn btn-primary btn-sm" runat="server" OnClick="btnAddFoodConsumption_Click" />
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{
        <script>
            $(document).ready(function () {
                $('#tblFoodLog').DataTable();
            });
        </script>
        <script src="/stisla/modules/datatables/datatables.min.js"></script>
        <script src="/stisla/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>

    }
}
